<!-- custom_auth/templates/profile.html -->
{% extends 'base.html' %}

{% block content %}
{% if user.is_authenticated %}
<div class="header">
    <h1>User Profile</h1>
    <div class="button-para">
        <p>Welcome, {{ user.username }} !</p>
    </div>
</div>
{% endif %}
<div class="profile-container">
    <h2>Profile</h2>
    <p>Email: {{ user.email }}</p>
    <p>Username: {{ user.username }}</p>
    <p>Phone Number: {{ user.phone_number }}</p>
    <h3>Uploaded Files</h3>
    <hr>
    <ul>
        {% for file in uploaded_files %}
        <li>
            <span class="bold">File Name: </span>{{ file.file_name }}<br><br>
            <span class="bold">Description: </span>{{ file.description }}<br><br>
            <a href="{{ file.file.url }}" target="_blank" class="btn btn-outline-warning">View</a>
            <a href="{{ file.file.url }}" download>Download</a>
            <a href="{% url 'delete' file.id %}" class="btn btn-outline-danger" style="float:right;">Delete</a>
        </li>
        {% empty %}
        <p>No uploaded files.</p>
        {% endfor %}
    </ul>
</div>
{% endblock %}