{% extends 'base.html' %}

{% block content %}
<div class="container mx-auto mt-10 shadow-none">
    <h2 class="text-4xl font-semibold mb-4 text-center">Profile</h2>
    <p class="mb-2"><span class="font-semibold">Email:</span> {{ user.email }}</p>
    <p class="mb-2"><span class="font-semibold">Username:</span> {{ user.username }}</p>
    <p class="mb-2"><span class="font-semibold">Phone Number:</span> {{ user.phone_number }}</p>
    <h2 class="text-2xl font-semibold mt-6 mb-2">Uploaded Files</h2>
    <hr class="mb-4">
    <p><a href="{% url 'share' %}" class="text-blue_500 hover:underline">Share Files</a></p>
    <ul>
        {% for file in uploaded_files %}
        <li class="mb-4">
            <span class="font-semibold">File Name: </span>{{ file.file_name }}<br>
            <span class="font-semibold">Description: </span>{{ file.description }}<br>
            <a href="{{ file.file.url }}" target="_blank" class="text-blue_500 hover:underline">View</a>
            <a href="{{ file.file.url }}" download class="text-blue_500 hover:underline ml-4">Download</a>
            <a href="{% url 'delete' file.id %}" class="text-red_500 hover:underline ml-4">Delete</a>
        </li>
        {% empty %}
        <p>No uploaded files.</p>
        {% endfor %}
    </ul>

    <h2 class="text-2xl font-semibold mt-6 mb-2">Shared Files</h2>
    <hr class="mb-4">
    <ul>
        {% for file in shared_files %}
        <li class="mb-4">
            <span class="font-semibold">File Name: </span>{{ file.file_name }}<br><br>
            <span class="font-semibold">Description: </span>{{ file.description }}<br><br>
            <a href="{{ file.file.url }}" target="_blank" class="text-blue_500 hover:underline">View</a>
            <a href="{{ file.file.url }}" class="text-blue_500 hover:underline ml-4" download>Download</a>
        </li>
        {% empty %}
        <p>No shared files.</p>
        {% endfor %}
    </ul>
    <a id="deleteProfileLink" href="javascript:void(0);" class="text-red_500 hover:underline ml-4">Delete Profile</a>

</div>

<!-- Add this modal dialog at the end of your 'profile.html' template -->
<div id="confirmDeleteModal" class="fixed inset-0 flex items-center justify-center z-50 hidden">
    <div class="modal-overlay absolute w-full h-full bg-gray_900 opacity-50"></div>
    <div class="modal-container bg-white w-11/12 md:max-w-md mx-auto rounded shadow-lg z-50 overflow-y-auto">
        <!-- Add your modal content here -->
        <div class="modal-content py-4 text-left px-6">
            <div class="mb-4">
                <p class="text-xl font-semibold">Confirm Deletion</p>
                <p class="text-gray_700">Are you sure you want to delete your profile?</p>
            </div>
            <div class="text-right flex">
                <button id="cancelDeleteButton"
                    class="bg-gray_300 hover:bg-gray_400 text-gray_800 font-semibold py-2 px-4 rounded mx-2">Cancel</button>
                <button id="confirmDeleteButton"
                    class="bg-red_500 hover:bg-red_600 text-white font-semibold py-2 px-4 rounded mx-2">Delete</button>
            </div>
        </div>
    </div>
</div>

<!-- Add this script at the end of your 'profile.html' template -->
<script>
    // Get modal and buttons
    const confirmDeleteModal = document.getElementById('confirmDeleteModal');
    const confirmDeleteButton = document.getElementById('confirmDeleteButton');
    const cancelDeleteButton = document.getElementById('cancelDeleteButton');

    // Handle delete button click
    confirmDeleteButton.addEventListener('click', function () {
        // Redirect to the delete profile URL (replace with your actual URL)
        window.location.href = "{% url 'confirm_delete' %}";
    });

    // Handle cancel button click
    cancelDeleteButton.addEventListener('click', function () {
        // Close the modal
        confirmDeleteModal.classList.add('hidden');
    });

    // Trigger modal display when clicking the "Delete Profile" link
    const deleteProfileLink = document.getElementById('deleteProfileLink');
    deleteProfileLink.addEventListener('click', function () {
        // Show the modal
        confirmDeleteModal.classList.remove('hidden');
    });
</script>

{% endblock %}