{% extends 'base.html' %}

{% block content %}
<div class="container mx-auto mt-10 shadow-none">
    <h2 class="text-4xl font-semibold mb-4 text-center">Admin User Management</h2>
    <div class="overflow-x-auto">
        <table class="w-full min-w-max border-collapse border border-gray_300">
            <thead>
                <tr class="bg-gray_200">
                    <th class="px-4 py-2">Username</th>
                    <th class="px-4 py-2">Email</th>
                    <th class="px-4 py-2">Is Admin</th>
                    <th class="px-4 py-2">Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for user in users %}
                <tr class="border-b border-gray_300 text-center">
                    <td class="px-4 py-2">{{ user.username }}</td>
                    <td class="px-4 py-2">{{ user.email }}</td>
                    <td class="px-4 py-2">{{ user.is_staff }}</td>
                    <td class="px-4 py-2 flex items-center justify-center gap-2">
                        <!-- Promote User to Admin Form -->
                        {% if not user.is_admin %}
                        {% if not user.is_staff %}
                        <form method="post" action="{% url 'promote_user' user.id %}">
                            {% csrf_token %}
                            <button type="submit" class="bg-green_500 hover:bg-green_600 text-white py-1 px-2 rounded">
                                Promote to Admin
                            </button>
                        </form>
                        {% endif %}

                        <!-- Delete User Form -->
                        <form method="post" action="{% url 'delete_user' user.id %}">
                            {% csrf_token %}
                            <button type="submit" class="bg-red_500 hover:bg-red_600 text-white py-1 px-2 rounded">
                                Delete
                            </button>
                        </form>
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}